@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Russo+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Limelight);

/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My code starts here*/

/*html {
	box-sizing: border-box;
}*/

h1 {
	font-family: 'Russo One';
	font-size: 2em;
	font-weight: bold;
	padding-top: 1em;
	margin-bottom: .5em;
	text-align: center;

}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
	color: #bd5d38;
}

h3 {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	font-family: 'Limelight', serif;
	margin-top: auto;
	margin-bottom: auto;
}

p {
	margin-bottom: .5em;
}

a {
	text-decoration: none;
	color: #bd5d38;
	font-weight: bold;
}

.main-content {
	position: relative;	
	font-family: 'Open Sans', serif;
	position: relative;

}

section {
	padding: 1% 5%;

}

input {
	width: 50%;
	margin-bottom: 2%;
	background-color: #f9f2de;
	border-radius: 5px;
}

textarea {
	background-color: #f9f2de;
	width: 90%;
	margin-top: .5em;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: black;
	color: #ffffff;
	padding: .5em 1em;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1em;
	margin-top: 2%;
	margin-bottom: 7em;

}


/*Header & Footer*/

header, footer {
	background-color: #27212b;
	color: #ffffff; 
	text-align: center;
	font-family: 'Quicksand', serif;
}


.logo {
	margin: 0;
	padding: 0;
	max-width: 90%;
	display: block;
	margin: auto;

}

.logo img {
	height: auto;
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

nav ul {
	display: block;

}

nav ul li {
	list-style-type: none;
	padding: 1em;
	margin: .5em;
	border-top: 1px solid #ffffff;

}

nav ul li a {
	color: #ffffff;
	padding: .5em 1em;
	font-family: 'Quicksand', serif;
	font-weight: lighter;
}


nav ul li a:hover {
	border: 2px solid #ffffff;
	border-radius: 10px;

}

.current-page {
	color: #fffa00;
	border-bottom: 5px solid #fffa00;

}

a .current-page {
	list-style-type: square;
}

footer p {
	font-size: .75em;
	padding-bottom: .5em;
}

.fab, .fas {
	font-size: 1.5em;
	padding: .2em .5em;
	color: #9d9ba0;
}

.fab:hover, .fas:hover {
	color: #ffffff;
}


/*Home Page*/

.main-content-home {
	background: url("../img/background.jpg") no-repeat;
	background-size: 100% 100%;

}

.main-content-home h1 {
	padding-top: 3em;

}

.main-content-home h1 a {
	color: #ffffff;
	font-family: 'Russo One';
	font-size: 2em;
}


/*About Page*/

aside img {
	border-radius: 50%;
	width: 50%;
	height:auto;
	display: block;
	margin: 5% auto;
}

.main-content-about h1 {
	text-align: left;
}


/*Projects Page*/


.main-content-projects {
	display: relative;
}

.panels {
	list-style-type: none;
	padding: 5%;
	display: absolute;
	left: 50%;
	right: 50%;
	width: 80%;

}

div.back ul li {
	list-style-type: square;
	color: #ffffff;
}


.panels li {
	position: relative;
	display: block;
	margin-bottom: 2%;

}

.panels li div {
	width: 100%;
	cursor: pointer;
	padding: 5%;
	display: relative;

}

.panels div.back {
	transform: rotateY(90deg);
	background-color: #9b153a;
	width: 100%;
	height: 20em;
}

.panels div.front {
	position: absolute;
	background-color: #590d22;
	text-align: center;
	width: 100%;
	height: 20em;
}

.panels li:hover div.front {
	animation: twirl 0.2s ease-in forwards;
}

.panels li:hover div.back {
	animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

@keyframes twirl {
	0%{ transform: rotateY(0deg);}
	100% { transform: rotateY(90deg);}
}

.fa-pencil-alt, .fa-terminal, .fa-chart-line, .fa-laptop {
	color: #ffffff;
	font-size: 7em;
}

/*Contact Page*/

.main-content-contact h1 {
	padding-top: 2em;
}

.main-content-contact p {
	text-align: center;
	padding-bottom: 1em;
}

form {
	padding-left: 5%
}

#errmsg{
	color: red;
}


/*Travel Page*/

.main-content-travel {
	display: relative;
}
.main-content-travel img {
	display: block;
	width: 90%;
	height: auto;
	padding: 1%;
	border: 1px solid #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;

}